@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");

:root {
  --main-color: #d3ad7f;
  --black: #13131a;
  --bg: #010103;
  --border: 0.1em solid rgba(255, 255, 255, 0.3);
}
* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: 0.2s linear;
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 9rem;
  scroll-behavior: smooth;
}
section {
  padding: 2rem 9%;
}
.heading {
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  padding-bottom: 3.5rem;
  font-size: 4rem;
}
.heading span {
  color: var(--main-color);
  text-transform: uppercase;
}
html::-webkit-scrollbar {
  width: 0.8rem;
}
html::-webkit-scrollbar-track {
  background: transparent;
}

html::-webkit-scrollbar-thumb {
  background: #fff;
  border-radius: 5rem;
}
body {
  background: var(--bg);
}
.btn {
  margin-top: 1rem;
  display: inline-block;
  padding: 0.9rem 3rem;
  font-size: 1.7rem;
  color: #fff;
  background-color: var(--main-color);
  cursor: pointer;
}
.btn:hover {
  letter-spacing: 0.2rem;
}
/* HEADER */

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
  background: var(--bg);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  padding: 2rem 9%;
  border-bottom: var(--border);
}

.header .logo {
  color: var(--main-color);
  font-size: 2.3rem;
}

.header .logo i {
  padding-left: 0.5rem;
}

.header .navbar a {
  margin: 0 1rem;
  font-size: 1.7rem;
  color: #fff;
}
.header .navbar a:hover {
  margin: 0 1rem;
  font-size: 1.6rem;
  color: var(--main-color);
  border-bottom: 0.1rem solid var(--main-color);
}

.header .btn {
  margin-top: 0;
}
.header .icons div {
  color: #fff;
  cursor: pointer;
  font-size: 2.5rem;
  margin-right: 2rem;
}

.header .icons div:hover {
  color: var(--main-color);
}

#menu-btn {
  font-size: 3rem;
  cursor: pointer;
  display: none;
}

.header .search-form {
  position: absolute;
  top: 115%;
  right: 7%;
  background: white;
  width: 50rem;
  height: 5rem;
  display: flex;
  align-items: center;
  transform: scaleX(0);
  transform-origin: top;
}
.header .search-form.active {
  transform: scaleX(1);
}
.header .search-form {
  right: 0;
}
.header .search-form input {
  height: 100%;
  width: 100%;
  font-size: 1.6rem;
  color: var(--black);
  padding: 1rem;
  text-transform: none;
}
.header .search-form label {
  cursor: pointer;
  font-size: 2.2rem;
  margin-right: 2.5rem;
  color: var(--black);
}
.header .search-form label:hover {
  color: var(--main-color);
}
.header .cart-items-container {
  position: absolute;
  top: 100%;
  right: -100%;
  height: calc(100vh-9.5rem);
  width: 35rem;
  background: whitesmoke;
  padding: 0 1.5rem;
}
.header .cart-items-container.active {
  right: 0;
}
.header .cart-items-container .cart-item {
  position: relative;
  margin: 2rem 0;
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
.header .cart-items-container .cart-item .fa-times {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 2rem;
  cursor: pointer;
  color: var(--black);
}
.header .cart-items-container .cart-item .fa-times:hover {
  font-size: 2.1rem;
  color: red;
}
.header .cart-items-container .cart-item img {
  height: 7rem;
}

.header .cart-items-container .cart-item .content .item-title {
  font-size: 2rem;
  color: var(--black);
  padding-bottom: 0.5rem;
}
.header .cart-items-container .cart-item .content .item-price {
  font-size: 1.5rem;
  color: var(--main-color);
}
.header .cart-items-container .btn {
  width: 100%;
  text-align: center;
}

.home {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background: url(../images/home-bg1.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}
.home .content {
  flex: 1 1 42rem;
}

.home .content h3 {
  font-size: 6rem;
  text-transform: uppercase;
  color: #fff;
}

.home .content p {
  font-size: 1.4rem;
  font-weight: lighter;
  line-height: 1.8;
  padding: 1rem 0;
  color: burlywood;
}

/* ABOUT */

.about .row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.about .row .image {
  flex: 1 1 42rem;
}

.about .row .image img {
  width: 100%;
}

.about .row .content {
  flex: 1 1 45rem;
}

.about .row .content .title {
  color: var(--main-color);
  font-size: 3rem;
  line-height: 1.8;
}

.about .row .content p {
  color: #eee;
  font-size: 1.5rem;
  line-height: 1.8;
  padding: 1rem 0;
}

.about .row .content .icons-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding-top: 3rem;
}

.about .row .content .icons-container .icons {
  flex: 1 1 15rem;
  padding: 1.5rem;
  text-align: center;
  border: var(--border);
  border-radius: var(--border-radius);
}

.about .row .content .icons-container .icons img {
  height: 5rem;
}

.about .row .content .icons-container .icons h3 {
  font-size: 1.7rem;
  padding-top: 1rem;
  color: var(--main-color);
}

/* MENU */
.menu {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 1)),
    url(../images/menu-bg-2.jpg) no-repeat;
  background-position: center;
  background-size: cover;
}

.menu .menu-items-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1.5rem;
}

.menu .menu-items-container .menu-item {
  padding: 5rem;
  text-align: center;
  border: var(--border);
}

.menu .menu-items-container .menu-item img {
  height: 10rem;
}

.menu .menu-items-container .menu-item h3 {
  color: salmon;
  font-size: 2.1rem;
  padding: 1rem 0;
}

.menu .menu-items-container .menu-item {
  color: whitesmoke;
  padding: 0.5rem 0;
}
.menu .menu-items-container .menu-item .menu-price {
  color: #fff;
  font-size: 2rem;
  padding: 0.5rem 0;
}

.menu .menu-items-container .menu-item .menu-price span {
  color: #fff;
  font-size: 1.5rem;
  text-decoration: line-through;
}

.menu .menu-items-container .menu-item:hover {
  background-color: antiquewhite;
  transform: scale(1.08);
}

.menu .menu-items-container .menu-item:hover > .menu-info * {
  color: saddlebrown;
}

/* PRODUCTS */
/* .products {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 1)),
    url(../images/menu-bg-1.jpg) no-repeat;
  background-position: center;
  background-size: cover;
} */
.products .product-items-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1.5rem;
}
.products .product-items-container .product-item {
  padding: 2rem;
  text-align: center;
  border: var(--border);
  color: #fff;
}

.products .product-items-container .product-item .icons a {
  height: 5rem;
  width: 5rem;
  font-size: 2rem;
  line-height: 5rem;
  border: var(--border);
  color: #fff;
  margin: 0.3rem;
}

.products .product-items-container .product-item .icons a:hover {
  background: var(--main-color);
}

.products .product-items-container .product-item .image {
  padding: 2.5rem 0;
}

.products .product-items-container .product-item .image img {
  height: 25rem 0;
}
.products .product-items-container .product-item .image img:hover {
  transform: scale(1.1);
  background-color: rgb(155, 116, 95, 0.3);
}
.products .product-items-container .product-item .product-info h3 {
  color: #fff;
  font-size: 2.5rem;
}
.products .product-items-container .product-item .product-info .rating-point {
  font-size: 1.5rem;
}
.products .product-items-container .product-item .product-info .rating-point i {
  color: var(--main-color);
  font-size: 1.7rem;
}
.products .product-items-container .product-item .product-info .product-price {
  font-size: 2.4rem;
}
.products
  .product-items-container
  .product-item
  .product-info
  .product-price
  span {
  text-decoration: line-through;
  font-size: 1.6rem;
  font-weight: lighter;
}

/* REVIEW */
.review {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 1)),
    url(../images/review-bg-2.jpg) no-repeat;
  background-position: center;
  background-size: cover;
}
.review .review-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1.5rem;
  color: #fff;
}
.review .review-list .review-item {
  border: var(--border);
  text-align: center;
  padding: 3rem 2rem;
}
.review .review-list .review-item p {
  font-size: 1.5rem;
  line-height: 1.8;
  color: #ccc;
  padding: 2rem 0;
}
.review .review-list .review-item .customer-pic {
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
  object-fit: cover;
}
.review .review-list .review-item .customer-name {
  padding: 1rem 0;
  font-size: 2rem;
  color: #fff;
}
.review .review-list .review-item .rating-point {
  font-size: 1.5rem;
}
.review .review-list .review-item .rating-point i {
  color: yellow;
  font-size: 1.7rem;
}

.review .review-list .review-item .fa-quote-right {
  /* position: absolute; */
  bottom: 2rem;
  right: 2.5rem;
  font-size: 5rem;
  color: #ccc;
  z-index: -1;
}

/* CONTACT */
.contact .row {
  display: flex;
  background: var(--black);
  flex-wrap: wrap;
  gap: 1rem;
}
.contact .row .map {
  flex: 1 1 45rem;
  width: 100%;
  object-fit: cover;
}
.contact .row form {
  flex: 1 1 45rem;
  padding: 5rem 2rem;
  text-align: center;
}
.contact .row form h3 {
  text-transform: uppercase;
  font-size: 3.5rem;
  color: #fff;
}
.contact .row form .input-box {
  display: flex;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  background: var(--black);
  border: var(--border);
}

.contact .row form .input-box span {
  color: #fff;
  font-size: 2rem;
  padding-left: 2rem;
}
.contact .row form .input-box input {
  width: 100%;
  padding: 2rem;
  font-size: 1.7rem;
  color: #fff;
  text-transform: none;
  background: none;
}
.blogs .blogs-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1.5rem;
}

.blogs .blogs-list .blog-item {
  border: var(--border);
}
.blogs .blogs-list .blog-item .image {
  height: 25rem;
  overflow: hidden;
  width: 100%;
}

.blogs .blogs-list .blog-item .image img {
  height: 100%;
  object-fit: cover;
  width: 100%;
}
.blogs .blogs-list .blog-item:hover .image img {
  transform: scale(1.2);
}
.blogs .blogs-list .blog-item .blog-summarized-content {
  padding: 2rem;
}
.blogs .blogs-list .blog-item .blog-summarized-content .blog-title {
  font-size: 2.5rem;
  line-height: 1.5;
  color: #fff;
}
.blogs .blogs-list .blog-item .blog-summarized-content .blog-title:hover {
  color: var(--main-color);
}
.blogs .blogs-list .blog-item .blog-summarized-content span {
  color: var(--main-color);
  display: block;
  padding-bottom: 1rem;
  font: 1.5rem lighter;
}
.blogs .blogs-list .blog-item .blog-summarized-content p {
  font-size: 1.6rem;
  color: #ccc;
  line-height: 1.8;
}
/* FOOTER */
.footer {
  background-color: var(--black);
  text-align: center;
}
.footer .share {
  padding: 1rem 0;
}
.footer .share a {
  height: 5rem;
  width: 5rem;
  line-height: 5rem;
  font-size: 2rem;
  color: #fff;
  border: var(--border);
  margin: 0.3rem;
  border-radius: 50%;
}
.footer .share a:hover {
  background-color: var(--main-color);
}
.footer .links {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 2rem 0;
  gap: 1rem;
}
.footer .links a {
  padding: 0.7rem 2rem;
  color: #fff;
  border: var(--border);
  font-size: 2rem;
}
.footer .links a:hover {
  color: var(--main-color);
}
.footer .credit {
  font-size: 2rem;
  color: #fff;
  font-weight: lighter;
  padding: 1.5rem;
}
.footer .credit span {
  color: var(--main-color);
}
/* media querries  */
@media (max-width: 991px) {
  html {
    font-size: 55%;
  }

  .header {
    padding: 3rem;
  }

  section {
    padding: 2rem;
  }
}
@media (max-width: 768px) {
  #menu-btn {
    display: inline-block;
  }
  .header .navbar {
    position: absolute;
    top: 100%;
    width: 30rem;
    right: -100%;
    background: var(--black);
    height: calc(100vh - 9.5rem);
  }
  .header .navbar.active {
    right: 0;
  }
  .header .navbar a {
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
  }

  .home {
    text-align: center;
    background-position: left;
    justify-content: center;
  }

  .home .content h3 {
    font-size: 4rem;
  }
}
@media (max-width: 450px) {
  html {
    font-size: 50%;
  }

  .home .image img {
    height: auto;
    width: 100%;
  }
}
